*.iml
.gradle
build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.DS_Store
*.apk
*.png
.idea/

